<!-- templates/landing_page.html -->
{% extends 'base.html' %}

{% block title %}Kanban Task Manager{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col text-center">
        <h1 class="my-4">Kanban</h1>
    </div>

    <div class="row">
        <div class="col"></div>

        <div class="col">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/kanban_logo.png') }}" alt="Kanban" width="500px">
            </a>
        </div>

        <div class="col"></div>
    </div>

</div>
{% endblock %}